body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dcd6f7; /* Світлий синій фон */
  color: #333;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e4c67; /* Темно-синій колір шапки */
  color: white;
  padding: 10px 20px;
}

.header .logo img {
  height: 50px;
}

.header .contacts p {
  margin: 0;
  line-height: 1.5;
}

/* Основний контейнер */
.container {
  flex: 1;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #4e4c67; /* Темно-синій заголовок */
}

/* Сітка послуг */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 20px;
}

/* Карточка послуги */
.service-card {
  background-color: #f8f5f0; /* Молочний фон для тексту */
  border: 1px solid #b4869f; /* Рамка відтінку синього */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  align-items: center; /* Center align all items */
  display: flex;
  flex-direction: column;
  height: 90%;
  box-sizing: border-box;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6b1e1; /* Фон для випадків, якщо зображення не завантажиться */
}

.service-image {
  width: 100%;
}

.service-details {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Align items at the start to avoid gaps */
  align-items: center; /* Center align all items */
  box-sizing: border-box;
  height: 100%; /* Make sure it takes full height of the card */
  flex-grow: 1; /* Ensures the container takes available space */
}

.service-name {
  font-size: 18px;
  color: #333;
  text-align: center;
}

.service-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  background-color: #eae8f5; /* Світлий фон для опису */
  padding: 10px;
  border-radius: 5px;
  flex-grow: 0; /* Prevents unnecessary stretching */
}

.service-price {
  font-size: 16px;
  color: #007bff; /* Темно-синій текст ціни */
  margin-bottom: 15px;
}

.order-button {
  background-color: #4e4c67; /* Темно-синій */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: auto;
}

.order-button:hover {
  background-color: #3c3a54; /* Темніший синій */
}

/* Кнопка підтримки */
.support-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.support-button {
  background-color: #4e4c67; /* Темно-синій фон */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.support-button:hover {
  background-color: #3c3a54; /* Темніший синій */
}
